<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/git786hub/welcome_Puppet_Logs.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <com.github.jenkins.lastchanges.LastChangesPublisher plugin="last-changes@2.7.3">
      <specificRevision></specificRevision>
      <specificBuild></specificBuild>
      <since>PREVIOUS_REVISION</since>
      <format>LINE</format>
      <matching>NONE</matching>
      <vcsDir></vcsDir>
      <showFiles>true</showFiles>
      <synchronisedScroll>true</synchronisedScroll>
      <matchWordsThreshold>0.25</matchWordsThreshold>
      <matchingMaxComparisons>1000</matchingMaxComparisons>
      <isGit>false</isGit>
      <isSvn>false</isSvn>
    </com.github.jenkins.lastchanges.LastChangesPublisher>
  </publishers>
  <buildWrappers/>
</project>